@{
    ViewData["Title"] = "User";
}

@model User

<div class="flex flex-col gap-16 w-3/4 mx-auto mt-8">
    <p class="text-center">Here is a User!</p>
    <h1 class="text-center text-3xl font-thin">@Model.FirstName @Model.LastName</h1>
</div>