@{
    ViewData["Title"] = "Dojo Survey Result";
}

@model DojoSurvey.Models.SurveyForm

<div class="row border border-1 border-dark mt-5 p-4 w-50 gap-3">
    <div class="d-flex align-items-center">
        <p>Submitted Info</p>
    </div>
    <div class="d-flex align-items-center">
        <p class="col-5">Name</p>
        <p class="col-5">@Model.name</p>
    </div>
    <div class="d-flex align-items-center">
        <p class="col-5">Dojo Location</p>
        <p class="col-5">@Model.location</p>
    </div>
    <div class="d-flex align-items-center">
        <p class="col-5">Favourite Language</p>
        <p class="col-5">@Model.language</p>
    </div>
    <div class="d-flex align-items-center">
        <p class="col-5">Comments</p>
        <p class="col-5">@Model.comments</p>
    </div>

</div>