<div class="d-flex align-items-center justify-content-between border-bottom border-2 border-dark my-3">
    <h3>Welcome @ViewBag.currentUser.FirstName</h3>
    <nav class="d-flex align-items-center justify-content-between gap-2">
        <a href="/" class="text-decoration-none">Home</a>
        <span>|</span>
        <a href="/weddings/plan" class="text-decoration-none">Plan a Wedding</a>
        <span>|</span>
        <a href="/logout" class="text-decoration-none">Logout</a>
    </nav>
</div>