@{
    ViewData["Title"] = "Validated";
}

@model FormSubmission.Models.User
<div class="flex flex-row justify-center">
    <div class="flex flex-col items-center justify-between my-36 border border-black w-3/4 min-h-64 p-5 ">
        <h1 class="text-3xl font-bold">Successfully Registered!</h1>
        <div class="flex flex-row justify-end w-full">
            <a role="button" class="btn btn-primary" href="/">Go Back</a>
        </div>
    </div>
</div>