@{
    ViewData["Title"] = "Add Dish";
}

@model CRUDelicious.Models.Dish

<div class="container d-flex flex-column gap-3 mt-4">
    <h1 class="text-center">Add a new Dish!</h1>
    <div class="d-flex justify-content-center">
        <nav class="nav align-items-center">
            <a class="nav-link" href="/" aria-current="page">Home</a>
            <span>|</span>
            <a class="nav-link active" href="/dishes/new">Add a Dish</a>
        </nav>
    </div>
    <form asp-action="AddDish" asp-controller="Home">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Chef">Chef's Name</label>
                    <input class="form-control my-2" asp-for="Chef">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Tastiness">Tastiness</label>
                    <select class="form-select my-2" asp-for="Tastiness">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea class="form-control my-2" asp-for="Description" rows="5"></textarea>
                </div>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-4 form-group">
                <label asp-for="Name">Name of Dish</label>
                <input class="form-control my-2" asp-for="Name">
            </div>
        </div>
        <div class="row d-flex justify-content-between">
            <div class="col-4 form-group">
                <label asp-for="Calories"># of Calories</label>
                <input class="form-control my-2" asp-for="Calories">
            </div>
            <div class="col-4 d-flex flex-column align-items-end justify-content-end">
                <button class="btn btn-primary mb-2">Add Dish</button>
            </div>
        </div>
    </form>
</div>
