@{
    ViewData["Title"] = "Success";
}

<div class="d-flex justify-content-end w-100">
    <a class="btn btn-link" asp-action="Logout" asp-controller="Home">Logout</a>
</div>
<div class="container d-flex justify-content-center h-100">
    <h1 class="text-center">Success</h1>
</div>