@model Association

<form asp-action="CategoryAssociation" class="w-50">
    <input type="hidden" asp-for="CategoryId" value="@ViewBag.CategoryId">
    <select class="form-select" asp-for="ProductId">
        <option value="">Select a Product</option>
        @{
            foreach(var prod in ViewBag.AllProducts)
            {
                <option value="@prod.ID">@prod.Name</option>
            }
        }
    </select>
    <span asp-validation-for="ProductId" class="text-danger"></span>
    <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-primary">Add</button>
    </div>
</form>