@model Product

@{
    ViewData["Title"] = "Home Page";
    ViewBag.ProductId = Model.ID;
}


<div class="container">
    <div class="row">
        <h2 class="text-center mb-5">@Model.Name</h2>
    <div class="col">
        <h2 class="text-center mb-4">Categories</h2>
        <div class="d-flex flex-column">
            @if(Model.Categories.Count > 0)
            {
                @foreach (var assoc in Model.Categories)
                {
                    <p>@assoc.Category.Name</p>
                }
            }
            else
            {
                <p>No Categories</p>
            }
        </div>
    </div>
    <div class="col">
        <h2 class="text-center mb-4">Add Category</h2>
        <partial name="ProdCatPartial"model="new Association()"/>
    </div>
    </div>
</div>
