@model Customer

<div class="mt-5 h4 text-decoration-underline">Add a new Customer</div>
<form class="my-3 d-flex gap-5 w-75" action="/customers/add" method="post">
    <div class="col-2">
        <label asp-for="Name" class="form-label"></label>
    </div>
    <div class="col-4">
        <input class="form-control" asp-for="Name" />
        <span class="form-text text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="col-auto">
        <button class="btn btn-primary">Add</button>
    </div>
</form>

<div class="table-responsive mt-5">
    <table class="table table-striped table-borderless align-middle text-center">
        <thead>
            <tr class="table-dark">
                <th>Customer Name</th>
                <th>Joined On</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @{
                foreach (var customer in ViewBag.AllCustomers)
                {
                    <tr>
                        <td>@customer.Name</td>
                        <td>@customer.CreatedAt.ToString("MMMM dd, yyyy")</td>
                        <td><a class="btn btn-danger" href="/customers/@customer.ID/remove">Remove</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
