@model LoginUser

<form action="/login" method="post">
    <div class="d-flex align-items-center gap-4 mt-3 w-75">
        <label asp-for="LoginEmail" class="col-4 form-label">Email:</label>
        <input asp-for="LoginEmail" class="form-control">
    </div>
    <span class="offset-3 ps-4 text-danger" asp-validation-for="LoginEmail"></span>

    <div class="d-flex align-items-center gap-4 mt-3 w-75">
        <label asp-for="LoginPassword" class="col-4 form-label">Password:</label>
        <input asp-for="LoginPassword" class="form-control">
    </div>
    <span class="offset-3 ps-4 text-danger" asp-validation-for="LoginPassword"></span><br>

    <div class="d-flex justify-content-center">
        <button class="btn btn-primary mt-3">Login</button>
    </div>
</form>
